@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white text-black font-mono;
}

.dark body {
	@apply bg-black text-white;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.animate-scroll {
	animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
	animation-play-state: paused;
}
